<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Log In">
    <meta name="author" content="Nikselko">
    <link rel="icon" href="../../../../favicon.ico">
    <title>Registration</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <link href="css/signin.css" rel="stylesheet">
</head>
<body class="text-center">
<form class="form-signin" id="myform" method="post" action="/authorization/registration">
    <br>
    <h1 class="h3 mb-3 font-weight-normal">
        Register now
    </h1>
    <label for="inputLogin" class="sr-only">
        Login
    </label>
    <input type="text" name="login" id="inputLogin"
           placeholder="Enter login..." minlength="8" maxlength="20"
           required autofocus>
    <hr>
    <label for="inputPassword" class="sr-only">
        Password
    </label>
    <input type="password" name="password" id="inputPassword"
           placeholder="Password" minlength="8" maxlength="20" required>
    <hr>
    <label for="repeatPassword" class="sr-only">
        Repeat password , please
    </label>
    <input type="password" name="confirm" id="repeatPassword"
           placeholder="Repeat password" minlength="8" maxlength="20" required>
    <hr>
    <button class="btn btn-lg btn-primary" type="submit">
        Sign Up
    </button>
    <a class="btn btn-lg btn-dark btn-secondary"
       href="/authorization/login" role="button">
        Login
    </a>
</form>
</body>
</html>
