<footer class="text-muted text-center">
        <div class="container ">
                <p class="float-center">
                   <a href="#">
                      Back to top
                   </a>
                </p>
        </div>
</footer>

</body>
</html>
